<%= alert("danger",flash[:notice])  %>
<div class="login_wrapper">
    <h3 class="text-center">ログイン</h3>
    <div class="form form_login">
        <%= form_with(url: login_path, scope: :session) do |f| %>
        <div class="form-floating mb-3">
            <%= f.email_field :email,class: "form-control",id: "floatingInput",autocomplete: "off"%>
            <label for="floatingInput">メールアドレス</label>
        </div>
        <div class="form-floating mb-3">
            <%= f.password_field  :password,class: "form-control",id: "floatingInput",autocomplete: "off"%>
            <label for="floatingInput">パスワード</label>
        </div>
        <%= f.submit "Log in",class: "btn btn-primary btn_save" %>
        <% end %>
    </div>
    <p class="mt-4 text-center">アカウント登録はお済みですか？</p>
    <div class="w-50 m-auto text-center"><%=link_to "サインアップする",signup_path,class: " fs-5" %></div>
</div>