<h1><%=@post.likes.count  %>人がいいねしました</h1>
<br>
<div class="searched_results">
    <%@likes.each do |like|  %>
    <%user = like.user  %>
    <a href="<%=user_path(user)%>" class="searched_user">
        <% if user.profile_img.present?  %>
        <img class="user_img" src="<%= user.profile_img  %>">
        <% else  %>
        <img class="user_img" src="<%= profile_initial_img %>">
        <% end %>
        <p><%= user.name  %></p>
        <% if logged_in? && current_user.following?(user)  %>
        <span class="user_following">フォロー中</span>
        <% end  %>
    </a>
    <% end  %>
</div>