<%=form_with(model:@user,local: true,html: {method: :patch}) do |f| %>
<% if @user.profile_img.present?  %>
<img class="user_img_preview" src="<%= @user.profile_img %>" alt="">
<label class="btn btn-dark video_uploader_post_new">
    <%= f.file_field :profile_img,style: "display: none;",class:"input_video_post_new" %>変更する
</label>
<% else  %>
<label class="btn btn-dark video_uploader_post_new">
    <%= f.file_field :profile_img,style: "display: none;",class:"input_video_post_new" %>画像を設定する
</label>
<% end  %>
<p></p>
<div class="mb-3">
    <%=f.label :bio,class: "form-label" %>
    <%=f.text_area :bio,class: "form-control",style: "height: 150px;"%>
</div>
<table class="table user_edit_table">
    <tbody>
        <tr>
            <td><%= f.label :name %></td>
            <td class="value"><%=f.text_field :name  %></td>
        </tr>
        <tr>
            <td><%= f.label :email %></td>
            <td class="value"><%=f.email_field :email  %></td>
        </tr>
    </tbody>
</table>
<div class="user_edit_console_btns">
    <%= f.submit "変更", class: "btn btn-primary" %>
    <%= link_to "入力のリセット",edit_user_path,class: "btn btn-warning"   %>
</div>
<% end  %>