<h1>Here is user list page</h1>
<% 
i = 0
@users.each do |user| 
i += 1
%>

<div class="index_user_wrapper">
    <div style="display:inline-block;">
        <% if current_user.nil?  %>
        <a id="follow_form">
            <%= button_to "follow",login_path,method: :get %>
        </a>
        <% else  %>
        <%@user = user  %>
        <% if !(user == current_user)  %>
        <%=render 'follow_form'  %>
        <% end %>
        <% end %>
        </a>



    </div>
    <%= link_to user,class: "index_user",style: "text-decoretion: none;"  do %>
    <h3 style="display: inline-block;">&nbsp;&nbsp;User No.<%= i %> Name:
        <%= user.name%>&nbsp;&nbsp;&nbsp;&nbsp;
    </h3>
    <% end  %>
</div>

<% end  %>