<%= alert("complete",flash[:notice]) if !flash[:notice].nil? %>
<h1>Here is <%= @user[:name] %>'s page</h1>
<% if current_user == @user  %>
<%= link_to "User setting", action: "edit"  %>
<% end  %>
<h2>id: <%= @user.id%></h2>
<% if current_user.nil?  %>
<%= button_to "follow",login_path,method: :get %>
<% else  %>
<%=render 'follow_form'  %>
<% end  %>
<h2>User infomation</h2>
<div class="user_infomation">
    <h3><%= "#{@user[:name]} is followed by #{@user.followers.count} user" %></h3>
    <br><br>
    <h3><%= link_to "followers",followers_user_path %></h3>
</div>

<div class="user_infomation follow_lits">
    <h2>Follow lits</h2>
    <h3><%= "#{@user[:name]} is following #{@user.following.count} user" %></h3>
    <br>
    <h3><%= link_to "following",following_user_path %></h3>

</div>
<div style="height: 1px;background-color: black;margin-top:15px;"></div>
<h3>直近のライフログのテーブル</h3>
<div style="display: inline-block;">
    <h4>sort</h4>
    <div>
        <p>date</p>
        <textarea name="" id="" cols="30" rows="1"></textarea>
    </div>
    <div>
        <p>engagement time</p>
        <textarea name="" id="" cols="30" rows="1"></textarea>
    </div>
</div>
<div style="display: inline-block;">
    <h4>filter</h4>
    <div>
        <p>name</p>
        <textarea name="" id="" cols="30" rows="1"></textarea>
    </div>
</div>
<table>
    <tr>
        <th>&nbsp;life log&nbsp;</th>
        <th>&nbsp;date&nbsp;</th>
        <th>&nbsp;engagement time&nbsp;</th>
        <th>&nbsp;assumption time&nbsp;</th>
        <th></th>
        <th></th>
    </tr>
    <%@user.lifelogs.order(log_date: :desc)[0..4].each do |lifelog|  %>
    <tr>
        <td class="life_log">
            <% if lifelog.title == nil  %>
            <%= link_to "ただのライフログ",lifelog_path(lifelog)   %>
            <% else %>
            <%= link_to "#{lifelog.title}",lifelog_path(lifelog)  %>
            <% end %>
        </td>
        <td class="date">
            <%=lifelog.log_date  %>
        </td>
        <td class="enagement time">
            <%="XXX"  %>
        </td>
        <td class="assumption time">
            <%= "XXX"  %>
        </td>
    </tr>
    <% end  %>
    <%if @user == current_user  %>
    <tr>
        <td><%= link_to "create new lifelog",new_lifelog_path  %></td>

    </tr>
    <% end  %>
</table>
<p>#10件ごとにロードするのをeach文書いてかつseedしたら書く</p>
<br><br><br>
<h3>マイクロポスト</h3>
<br><br>
<%if @user == current_user  %>
<%=form_with(url: new_micropost_path,local: true,html: {method: :get})do |f|  %>
<%=f.hidden_field :jump_from_user_page,value: :true  %>
<%=f.submit "create new micropost" %>
<% end  %>
<% end  %>
<br><br>
<% @user.microposts.order(end_datetime: :desc)[0..6].each do |micropost|  %>
<h3>title: <%= link_to "#{micropost.title}",  micropost_path(micropost)%></h3>

<%end  %>