<h1>Here is <%= @user[:name] %>'s page</h1>
<% if current_user == @user  %>
<%= link_to "User setting", action: "edit"  %>
<% end  %>
<h2>id: <%= @user.id%></h2>
<%if !(@user == current_user)  %>
<% if !current_user.following?(@user)  %>
<a class="follow">
    <%= form_with(model: current_user.active_relationships.build, local: false)do |f|%>
    <div><%= hidden_field_tag :followed_id, @user.id  %></div>
    <%= hidden_field_tag :current_page,request.fullpath  %>
    <%= f.submit "Follow", disable_with: 'Following...' %>
    <% end  %>
</a>
<% else  %>
<a class="unfollow">
    <%= form_with(model: current_user.active_relationships.find_by(followed: @user),html: {method: :delete},local: false) do |f| %>
    <%= hidden_field_tag :current_page,request.fullpath  %>
    <%= f.submit "Unfollow", disable_with: "Unfollowing"  %>
    <% end  %>
</a>
<% end  %>
<% end  %>
<h2>User infomation</h2>
<div class="user_infomation">
    <h3><%= "#{@user[:name]} is followed by #{@user.followers.count} user" %></h3>
    <br><br>
    <h3><%= link_to "followers",followers_user_path %></h3>
</div>

<div class="user_infomation follow_lits">
    <h2>Follow lits</h2>
    <h3><%= "#{@user[:name]} is following #{@user.following.count} user" %></h3>
    <br>
    <h3><%= link_to "following",following_user_path %></h3>

</div>
<div style="height: 1px;background-color: black;margin-top:15px;"></div>
<h3>直近のライフログのテーブル</h3>
<table>
    <div style="display: inline-block;">
        <h4>sort</h4>
        <div>
            <p>date</p>
            <textarea name="" id="" cols="30" rows="1"></textarea>
        </div>
        <div>
            <p>engagement time</p>
            <textarea name="" id="" cols="30" rows="1"></textarea>
        </div>
    </div>
    <div style="display: inline-block;">
        <h4>filter</h4>
        <div>
            <p>name</p>
            <textarea name="" id="" cols="30" rows="1"></textarea>
        </div>
    </div>

    <tr>
        <th>life log</th>
        <th>date</th>
        <th>engagement time</th>
        <th>assumption time</th>
    </tr>
    <tr>
        <td class="life_log">
            <a href="#">XXX</a></td>
        <td class="date">XXX</td>
        <td class="enagement time">XXX</td>
        <td class="assumption time">XXXX</td>
    </tr>
</table>
<p>#10件ごとにロードするのをeach文書いてかつseedしたら書く</p>