<%= alert("complete", flash[:notice])  %>
<div class="feed_content_wrapper">
    <% @j = 1  %>
    <%@microposts.each do |micropost| %>
    <div class="feed_content card" <%= "id="+ "loaded_first" if @start_get > 1 && @start_get +1 == @j %>>
        <div class="card-body">
            <h4 class="post_author_wrap">
                <img class="post_author_img" src="<%= micropost.user.profile_img  %>">
                <%=link_to micropost.user.name, user_path(micropost.user)%>
            </h4>
            <a href="<%=micropost_path(micropost)  %>">
                <h5 class="card-title"><%=micropost.title  %></h5>
                <h6 class="card-subtitle mb-2 "><%= micropost.post_type %></h6>
                <h6>経過時間: <%=to_HH_MM(micropost.consuming_minutes.to_i)  %></h6>
                <p style="margin-bottom: 0.5rem;">
                    <%if micropost.post_type == "タイムラプス" %>
                    <% if micropost.video.present?  %>
                    動画添付済み
                    <% else  %>
                    添付動画なし
                    <% end %>
                </p>

                <p><span>verified?:&nbsp;</span><%= check_box_tag :verified?,true,micropost.verified?, {disabled: true}%>
                </p>
                <% end  %>
                <span class="posted_ago"><%= distance_of_time_in_words(micropost.posted_at,Time.zone.now)  %>前</span>
            </a>
        </div>
    </div>
    <%@j += 1  %>
    <% end  %>
    <% if @microposts.length >= 20  %>
    <div class="d-grid gap-2 col-6 mx-auto road_btn_wrap">
        <button class="btn btn-primary road_btn"
            type="button"><%=link_to "もっと見る", root_path(post_length: @microposts.length)  %></button>
    </div>
    <% else  %>
    <h5 class="no_more_posts_msg">これ以上投稿はありません</h5>
    <% end  %>
</div>
<script>
    var app_content = document.getElementById('app_content');
    var loaded_first_top = document.getElementById('loaded_first').offsetTop;
    app_content.scrollTop = loaded_first_top - 80
</script>