<div class="footer">
    <ul class="nav">
        <li class="nav-item btn btn-dark">
            <a class="nav-link active" aria-current="page" href="<%= root_url  %>">
                <i class="fa-sharp fa-solid fa-house"></i>
                <p>Home</p>
            </a>
        </li>
        <li class="nav-item btn btn-dark">
            <a class="nav-link" href="<%=explore_path %>">
                <i class="fa-solid fa-magnifying-glass"></i>
                <p>Explore</p>
            </a>
        </li>
        <li class="nav-item btn btn-dark">
            <% if logged_in?  %>
            <a class="nav-link" href="<%= user_path(current_user) %>">
                <% else  %>
                <a class="nav-link" href="<%= please_login_path%>">
                    <% end  %>
                    <i class="fa-solid fa-user"></i>
                    <p>Mypage</p>
                </a>
        </li>
    </ul>
    <%if request.path_info == root_path &&logged_in?  %>
    <a class="home_new_micropost_btn" href="<%= new_micropost_path  %>"><i class="fa-solid fa-plus"></i></i></a>
    <% end  %>
</div>