<%=form_with(model:@time_card,local: true, html: {method: :patch}) do |f| %>
<p>到着時刻</p>
<%= f.datetime_field :arrived_time,value: Time.now.strftime('%Y-%m-%dT%T')  %>

<p>証拠写真</p>
<% if @time_card.proof_img  %>
<img class="w-75 mx-auto d-block" src="<%=@time_card.proof_img%>" alt="">
<p class="text-left">画像は既に存在します <br>アップロードした場合は上書きされます</p>
<% end %>
<%=f.file_field :proof_img  %>
<p>明日の到着時刻</p>
<%=f.submit "送信！"  %>
<% end  %>