<%=form_with(model:@time_card,local: true, html: {method: :patch}) do |f| %>
<p>到着時刻</p>
<%= f.datetime_field :arrived_time  %>

<p>証拠写真</p>
<% if @time_card.proof_img  %>
<img class="w-75 mx-auto d-block" src="<%=@time_card.proof_img%>" alt="">
<p class="text-left">画像は既に存在します <br>アップロードした場合は上書きされます</p>
<% end %>
<%=f.file_field :proof_img  %>
<br>
<p>明日の到着時刻</p>
<%if @time_card.arrived_time  %>
<%= f.datetime_field :scheduled_time_tomorrow,value: @time_card.arrived_time.strftime('%Y-%m-%dT%T')  %>
<%else  %>
<%= f.datetime_field :scheduled_time_tomorrow,('%Y-%m-%dT%T')  %>
<% end  %>
<br>
<p>どこに到着したか</p>
<%=f.text_field :location_today  %>
<br>
<p>明日どこに到着するか</p>
<%=f.text_field :location_tomorrow  %>
<br>
<br>
<%=f.submit "送信！"  %>
<% end  %>