<%=link_to "ライフログに戻る", lifelog_path(@time_card.lifelog)  %>
<br>
<br>
<%=link_to 'タイムカードを編集する', edit_time_card_path  %>
<div>
    <p>タイムカード</p>
    <br>
    <p>到着予定の場所</p>
    <%= @time_card.location_yesterday ? @time_card.location_yesterday : "未入力" %>
    <br>
    <p>到着した場所</p>
    <%= @time_card.location_today ? @time_card.location_today : "未入力" %>
    <br>
    <p>明日到着予定の場所</p>
    <%= @time_card.location_tomorrow ? @time_card.location_tomorrow : "未入力" %>
    <br>
    <br>
    <%if @time_card.scheduled_time_today %>
    <p>予定時刻<%= @time_card.scheduled_time_today  %></p>
    <%end %>
    <% if @time_card.arrived_time  %>
    <p>到着時刻<%= @time_card.arrived_time  %></p>
    <% end  %>
    <p>明日の到着時刻
        <%if @time_card.scheduled_time_tomorrow  %>
        <%= @time_card.scheduled_time_tomorrow.strftime("%R")  %>
        <% else  %>
        未設定
        <% end  %></p>
    <p>間に合いましたか？
        <%if @time_card.be_on_time  %>
        はい
        <%else  %>
        いいえ
        <% end  %>
    </p>
    <%if @time_card.gap_min  %>
    <p>gap<%= @time_card.gap_min  %>分</p>
    <% end  %>
    <p>証拠写真</p>
    <img class="w-75 mx-auto d-block" src="<%=@time_card.proof_img%>" alt="">
    <%link_to "タイムカードを編集する",  %>
</div>