<%= form_with(model: @micropost,url: microposts_path, local: true) do |f| %>
<table class="table micropost_new_table">
    <tbody>
        <tr>
            <td><%=f.label :title  %></td>
            <td class="value"><%=f.text_field :title,style: "width: 100%;"  %></td>
        </tr>
        <tr>
            <td><%=f.label :post_type  %></td>
            <td class="value"><%=f.select :post_type, ["勉強会","タイムラプス","自習メモ"]  %></td>
        </tr>
        <tr>
            <td><%= f.label :engagement_status %></td>
            <td class="value"><%= f.select :engagement_status, ["予定","実行中","完了","未完了"] %></td>
        </tr>
        <tr class="post_datetime">
            <td>実施日時</td>
            <td class="value" style="text-align: center;">
                <div>
                    <p><%=f.label :start_datetime  %></p>
                    <p><%=f.datetime_field :start_datetime  %></p>

                </div>
                ~
                <p><%=f.label :end_datetime  %></p>
                <p><%=f.datetime_field :end_datetime  %></p>
            </td>
        </tr>
        <tr>
            <td><%=f.label :assumption_minutes  %></td>
            <td class="value"><%=f.number_field :assumption_minutes  %>分
            </td>
        </tr>
        <tr>
            <td><%=f.label :assumption_minutes  %></td>
            <td class="value"><%=f.number_field :assumption_minutes  %></td>
        </tr>
        <tr>
            <td>ライフログ</td>
            <td class="value"><%= link_to "#{@micropost.lifelog.log_date}のライフログ",lifelog_path(@micropost.lifelog)%></td>
        </tr>
    </tbody>
</table>
<p><%= f.label :video %> (※タイムラプスのみ)</p>
<label class="btn btn-dark video_uploader_post_new">
    <%= f.file_field :video,style: "display: none;",class:"input_video_post_new" %>ファイルを選択
</label>
<p class="chosen_file"></p>
<%= f.submit "作成", disable_with: 'Submiting...', class: "btn btn-primary",style: "width: 300px; margin: 0 auto; display: block;"  %>
</tr>
<% end  %>
<script>
    $('.input_video_post_new').on('change', function () {
        var file = $(this).prop('files')[0];
        $('.chosen_file').text(file.name);
    });
</script>