<%= alert("info",flash[:notice])  %>
<%= render 'microposts/show_table'  %>
<% if @micropost.video.present?  %>
<h4><a class="video_expand" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        タイムラプス動画を確認する
    </a>
</h4>
<% end %>

<h6 class="like_console">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="multiCollapseExample2">コメント</button>
    <%= render 'verifications/verify'  %>
    <%= render 'likes/micropost_like' %>
    <%= render 'likes/micropost_unlike' %>
</h6>
<%= render 'microposts/show_comment' %>