<ul class="nav">
  <% if logged_in? %>
  <% if current_user.admin?  %>
  <li>
    <p></p>
    <%=link_to "tweet console", edit_tweet_path(@current_user) %>
  </li>
  <% end  %>
  <li class="nav-item">
    <p>Logged in with <%= @current_user.name %>'s account</p>
  </li>
  <li>
    <%= link_to "Create new post", new_micropost_path %>
  </li>
  <% if !(request.path == "/users/#{current_user.id}")  %>
  <li>
    <%= link_to "Mypage", current_user  %>
  </li>
  <% end  %>
  <li class="nav-item">
    <%= link_to "Log out", logout_path %>
  </li>
  <li class="nav-item">
    <%= link_to "User index Page", users_path %>
  </li>
  <% else %>
  <li class="nav-item">
    <%= link_to "signup", signup_path %>
  </li>
  <li class="nav-item">
    <%= link_to "login", login_path %>
  </li>
  <% end %>
</ul>
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>